@page "/calculators"
<a href="/">
    <button class="btn btn-primary">Back</button>
</a>

<h1>Choose which calculators</h1>

<a href="/mortageCalculator">
    <button class="btn btn-primary">Mortage Calculator</button>
</a>

<a href="/landTransfer">
    <button class="btn btn-primary">Land Transfer Calculator</button>
</a>